.share {
	line-height: 22px;
}

.share-button {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	width: 90px !important;
	height: 22px !important;
	background-color: transparent;
}